# Need a GitHub Advanced Security license to run this action on private repos.

name: Dependency Review
on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
        with:
          # Possible values: critical, high, moderate, low
          fail-on-severity: critical
